<header class="pb-4 px-4-mobile">
  <h1 class="title">welcome!</h1>
  <h1 class="title">
    bvwtgt.xyz documents the ongoing processes / projects of Tim Taylor
  </h1>
  <h2 class="subtitle">
    before 2021: Tim was a luthier, furniture designer, woodworker, chef, and musician; 
    <%= link_to "gallery of some examples of his work", oldgallery_path, class: "has-text-danger" %>
  </h2>

  <h2 class="subtitle icon-text">
    today: he is a <strong class="px-2">fullstack developer</strong> on a new path following the blazes of sound, design, and technology
    <%= link_to image_tag("GitHub-Mark/PNG/GitHub-Mark-32px.png", alt: "my github profile"), "https://github.com/timothy-taylor", class: "icon" %>
  </h2>
</header>
<section class="py-6 columns">
  <p class="box column is-two-thirds is-offset-one-fifth is-italic has-text-justified-desktop has-background-grey-lighter">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon is-pulled-left is-hidden-mobile" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
  </svg>
  his interests include: synthesis/sound/instrument design, iterative processes, generative patterns, Andrei Tarkovsky films, 80-90s alt/indie rock, Boston Celtics basketball, chess, Camusian restraint-as-rebellion minimalism, creative coding, balancing free improvisation with intentionality, Chris Farley comedies, Bauhausian modernism, the electric guitar + delay pedals, low-impact kettlebell workouts, skateboarding, techno, and running.
  <svg xmlns="http://www.w3.org/2000/svg" class="icon is-pulled-right is-hidden-mobile" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
  </svg>
  </p>
</section>

