<section class="content is-hidden-mobile">
  <h1 class="title has-text-left">music: </h1>
  <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1661746403/size=large/bgcol=333333/linkcol=e99708/tracklist=false/transparent=true/" seamless><a href="https://tgtmusic.bandcamp.com/album/warm-music-ep">Warm Music EP by Timothy G Taylor</a></iframe>
  <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2331587498/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless><a href="https://tgtmusic.bandcamp.com/album/terrace-ep">Terrace EP by Timothy G Taylor</a></iframe>
  <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1854755905/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://tgtmusic.bandcamp.com/album/steep-way-ep">Steep Way EP by Timothy G Taylor</a></iframe>
  <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2280741510/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://tgtmusic.bandcamp.com/album/uarp">UARP by Timothy G Taylor</a></iframe>
  <p>
  or find them on <%= link_to " spotify", "https://open.spotify.com/artist/5pJDAJfpQWFQJVOB16Gx70?si=XUQiPH22QduDUyMmuIjV6g", class: "has-text-danger"%>
  </p>
</section>

