<section class="content">
  <h2 class="subtitle has-text-left">mental tally:</h2>
  <ul>
    <h3 class="subtitle is-6 is-italic">since December 6 2021</h3>
    <h3 class="subtitle is-6 is-italic">updated January 26 2022</h3>
    <div class="columns">
      <div class="column">
        <li>Javascript: 37.9%</li>
        <li>Ruby: 16.9%</li>
        <li>Design: 15.3%</li>
        <li>Monome: 6.5%</li>
        <li>Meditate: 4.8%</li>
      </div>
      <div class="column">
        <li>Music: 4.8%</li>
        <li>Journal: 4.8%</li>
        <li>Learning: 4.8%</li>
        <li>Website: 3.2%</li>
        <li>Chess: 0.8%</li>
      </div>
    </div>
  </ul>
</section>

