<section class="content">
  <h2 class="subtitle has-text-left">mental tally:</h2>
  <ul>
    <h3 class="subtitle is-6 is-italic">since December 6 2021</h3>
    <h3 class="subtitle is-6 is-italic">updated January 26 2022</h3>
    <div class="columns">
      <div class="column">
        <li>Javascript: 36.8%</li>
        <li>Ruby: 15.3%</li>
        <li>Design: 14.6%</li>
        <li>Journal: 8.3%</li>
        <li>Monome: 7.6%</li>
      </div>
      <div class="column">
        <li>Meditate: 4.9%</li>
        <li>Learning: 4.9%</li>
        <li>Music: 4.2%</li>
        <li>Website: 2.8%</li>
        <li>Chess: 0.7%</li>
      </div>
    </div>
  </ul>
</section>

