<section class="content">
  <h2 class="subtitle has-text-left">mental tally:</h2>
  <ul>
    <h3 class="subtitle is-6 is-italic">since December 6 2021</h3>
    <h3 class="subtitle is-6 is-italic">updated January 17 2022</h3>
    <li>Javascript: 45.6%</li>
    <li>Ruby: 19.4%</li>
    <li>Design: 13.6%</li>
    <li>Meditate: 4.9%</li>
    <li>Journal: 4.9%</li>
    <li>Music: 3.9%</li>
    <li>Learning: 3.9%</li>
    <li>Website: 2.9%</li>
    <li>Chess: 1.0%</li>
  </ul>
</section>

