<section class="content">
  <h2 class="subtitle has-text-left">mental tally:</h2>
  <ul>
    <h3 class="subtitle is-6 is-italic">since December 6 2021</h3>
    <h3 class="subtitle is-6 is-italic">updated January 12 2022</h3>
    <li>Javascript: 45.7%</li>
    <li>Ruby: 20.2%</li>
    <li>Design: 12.8%</li>
    <li>Meditate: 5.3%</li>
    <li>Journal: 4.3%</li>
    <li>Music: 4.3%</li>
    <li>Learning: 3.2%</li>
    <li>Website: 3.2%</li>
    <li>Chess: 1.1%</li>
  </ul>
</section>

