<section class="content py-5 box">
  <h1 class="subtitle has-text-left">tech:</h1>
  <ul>
    <li>
      <strong>Ruby, Ruby on Rails, Javascript, React, webpack, git, Postgres</strong> - <em>The Odin Project Ruby on Rails program</em>
    </li>
    <li>
      <strong>C</strong> - <em>edX 'C Programming in Linux' program, Learn C the Hard Way / Shaw</em>
    </li>
    <li>
      <strong>vim, Rust, HTML, CSS, Lua, Jekyll, Next.js, Bulma, TailwindCSS</strong> - <em>selftaught</em>
    </li>
  </ul>
</section>

